<div>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>ISBN</mat-label>
    <input
      matInput
      #isbn
      maxlength="256"
      placeholder="Podaj numer ISBN, aby wyszukać tytuł i autora: "
    />
  </mat-form-field>
</div>
<form class="example-form" *ngIf="book$ | async as book">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Tytuł</mat-label>
    <input matInput [(ngModel)]="book.title" name="title" />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Autor</mat-label>
    <input [(ngModel)]="book.author" name="author" matInput maxlength="256" />
  </mat-form-field>
</form>
<div>
  <button mat-raised-button color="primary" (click)="getBook(isbn.value)">
    Sprawdź
  </button>
</div>

<mat-spinner *ngIf="spinner"></mat-spinner>
